slug: onetracker
name: OneTracker
version: 1.3.4
url: https://github.com/decompil3d/homeassistant-addon-onetracker
stage: experimental
description:
  Add a HomeAssistant panel with package shipment tracking from your [OneTracker](https://onetracker.app)
  account
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
image: decompil3d/image-{arch}-homeassistant-addon-onetracker
homeassistant_api: true
host_network: true
ingress: true
init: false
panel_title: Package tracking
panel_icon: mdi:package
panel_admin: false
options:
  email: null
  password: null
  entity_name: onetracker_package_count
  entity_cron: "*/15 7-23 * * *"
  highlight_returns: false
schema:
  email: str
  password: password
  entity_name: str?
  entity_cron: str?
  highlight_returns: bool
